{% load static %}

<div class="col">
    <div class="card">
        <div class="card-header">{{title}}</div>
        <img src="{% static 'images/preview-'|add:format|add:'.png' %}" class="p-3" alt="{{title}}">
        <div class="card-body">
            <p class="card-text"></p>
            <a class="btn btn-primary" href="options?format={{format}}" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
            <!-- a class="btn btn-outline-secondary" href="preview?format={{format}}" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a -->
            <a class="btn btn-outline-secondary" onclick="showPreviewModal('{{format}}')" role="button"><span class="fa fa-eye"></span> Vorschau</a> 
        </div>
    </div>
</div>