{% extends "master.html" %}
{% load static %}

{% block title %}
  Neuen Kalender erzeugen
{% endblock %}

{% block head %}
  <link  href="{% static 'cropper.js-1.6.1/cropper.min.css' %}" rel="stylesheet">
  <script src="{% static 'cropper.js-1.6.1/cropper.min.js' %}">
    import Cropper from 'cropperjs';
  </script>
{% endblock %}

{% block content %}
<form target="_blank"  action="create" method="post" enctype="multipart/form-data" name="months">
  {% csrf_token %} 
  <input type="hidden" name="format" value="{{ request.POST.format }}" />
  <input type="hidden" name="center_month" value="{{ request.POST.center_month }}" />
  <input type="hidden" name="table_border" value="{{ request.POST.table_border }}" />
  <input type="hidden" name="ics_url" value="{{ request.POST.ics_url }}" />
  <input type="hidden" name="lenght" value="{{ months|length }}" />
  <ul class="nav nav-tabs" id="monthTabs" role="tablist">
    {% for month in months %}
      <li class="nav-item" role="presentation">
        <button class="nav-link{% if forloop.first %} active{% endif %}" id="month_tab_{{ month.id }}" data-bs-toggle="tab" data-bs-target="#month_pane_{{ month.id }}" type="button" role="tab" aria-controls="month_pane_{{ month.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ month.name }}</button>
      </li>  
    {% endfor %}
  </ul>
  <div class="tab-content" id="monthTabsContent">
    {% for month in months %}
      <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="month_pane_{{ month.id }}" role="tabpanel" aria-labelledby="month_tab_{{ month.id }}" tabindex="0">
        <input type="hidden" name="date_{{ month.id }}" value="{{ month.date }}" />
        <input type="hidden" name="crop_x_{{ month.id }}" value="" />
        <input type="hidden" name="crop_y_{{ month.id }}" value="" />
        <input type="hidden" name="crop_width_{{ month.id }}" value="" />
        <input type="hidden" name="crop_height_{{ month.id }}" value="" />
        
        <div class="container-fluid pt-3">
          <div class="row">
            <div class="col">
                <img id="image-preview-{{ month.id }}" src="{% static 'images/no_image_16x9.png' %}" alt="Vorschau" class="img-fluid" style="max-height:700px">
            </div>
          </div>
      
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" for="image-{{ month.id }}">Bild:</label>
                <input class="form-control" name="image_{{ month.id }}" type="file" id="image-{{ month.id }}" onchange="updatePreview(this, {{ month.id }})">
              </div>
            </div>
          </div>

          <!--div class="row">
            <div class="col">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="border-{{ month.id }}" name="boder_{{ month.id }}" value="1">
                <label class="form-check-label" for="border-{{ month.id }}">Rahmen um das Bild</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="shadow-{{ month.id }}" name="shadow_{{ month.id }}" value="1">
                <label class="form-check-label" for="shadow-{{ month.id }}">Schatten unter dem Bild</label>
              </div>
            </div>
          </div-->

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" for="background-color-{{ month.id }}">Hintergrundfarbe:</label>
                <input class="form-control form-control-color" type="color" id="background-color-{{ month.id }}" name="background_color_{{ month.id }}" value="{{ request.POST.background_color }}">
              </div>
            </div>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Erzeugen</button>
</form>
<script>

function toggle(name) {
  var myCollapse = document.getElementById(name);
  var bsCollapse = new bootstrap.Collapse(myCollapse, {
    toggle: true
  });
}
function updatePreview(input, id) {
  let img = document.getElementById("image-preview-" + id);

  if (cropper[id]) {
    cropper[id].destroy();
  }

  cropper[id] = enableCropper(img, id);

  let file = input.files[0];
  let reader = new FileReader();

  reader.readAsDataURL(file);
  reader.onload = function () {
      cropper[id].replace(reader.result);
  }
}

function enableCropper(img, id) {

  return new Cropper(img, {
    dragMode: 'move',
    aspectRatio: {{ aspectRatio }},
    autoCropArea: 0.8,
    viewMode: 3,
    restore: false,
    rotatable: true,
    crop(event) {
      document.forms['months']['crop_x_' + id].value = event.detail.x
      document.forms['months']['crop_y_' + id].value = event.detail.y
      document.forms['months']['crop_width_' + id].value = event.detail.width
      document.forms['months']['crop_height_' + id].value = event.detail.height
    },
  });
}

const cropper = [];
</script>
{% endblock %}