{% extends "master.html" %}
{% load static %}

{% block title %}
  Neuen Kalender erzeugen
{% endblock %}

{% block content %}
<div class="py-5 text-center">
  <h2>Neuen Kalender erstellen</h2>
  <p class="lead">Hier können Sie die Optionen für den neuen Kalender bestimmen. Im nächsten Schritt wählen Sie dann die Fotos für die jeweiligen Monate aus.</p>
</div>
<form action="month" method="POST" name="options">
    {% csrf_token %}
    <input type="hidden" name="format" value="{{ request.GET.format }}" />

          <h5 class="mb-3">Optionen für den Kalender</h5>
    
              <div class="row mb-3">
                  <label for="startDate" class="col-sm-2 col-form-label">Erster Monat</label>
                  <div class="col-sm-10">
                    <input id="startDate" class="form-control" type="date" name="start" value="{{ first_month }}"/>
                    <span id="startDateSelected"></span>
                  </div>
              </div>

              {% include "creator/options_general.html" with fieldpostfix="" %}

              {% if supports_events %} 
              <h5 class="mb-3">Termine</h5>
            
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="ics-url">Ereignisse von Kalender laden:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="ics-url" name="ics_url">
                </div>
              </div>
              {% endif %}

              <button type="button" class="btn btn-outline-secondary" onclick="createPreview()"><span class="fa fa-eye"></span> Vorschau</button>
              <button type="submit" class="btn btn-primary"><span class="fa fa-arrow-circle-right"></span> Weiter zur Fotoauswahl</button>

</form>
<script>
function createPreview() {
  console.log("Creating Preview uploadImages");
  var formData = new FormData(document.forms['options']);
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "preview");
  xhr.responseType = 'blob';
  xhr.onload = function() {
    if (xhr.status === 200) {
      showBlob(xhr.response, "preview.pdf")
    } else {
      alert("Hochladen der Bilder ist fehlgeschlagen! Bitte versuchen Sie es erneut.");
    }
  };
  xhr.send(formData);
}

function showBlob(blob, filename) {
  var a = document.createElement('a');
  a.href = window.URL.createObjectURL(blob);
  a.download = filename;
  a.dispatchEvent(new MouseEvent('click'));
}

</script>
{% endblock %}
