  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="background-type{{ fieldpostfix }}">Hintergrund</label>
    <div class="col-sm-10">
      <div class="mb-3">
        <select class="form-select" id="background-type{{ fieldpostfix }}" name="background_type{{ fieldpostfix }}">
          <option value="N"{% if month.background_type  == "N" %} selected{% endif %}>Keine Hintergrundfarbe</option>
          <option value="S"{% if month.background_type  == "S" %} selected{% endif %}>Einfarbig</option>
          <option value="H"{% if month.background_type  == 'H' %} selected{% endif %}>Farbverlauf horizontal</option>
          <option value="V"{% if month.background_type  == 'V' %} selected{% endif %}>Farbverlauf vertikal</option>
          <option value="D"{% if month.background_type  == 'D' %} selected{% endif %}>Farbverlauf diagonal</option>
          <option value="R"{% if month.background_type  == 'R' %} selected{% endif %}>Farbverlauf kreisförmig</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="background-color{{ fieldpostfix }}">Hintergrundfarbe</label>
    <div class="col-sm-10">
      <div class="btn-toolbar mb-3" role="toolbar">
        <div class="mb-3">
          <input class="form-control form-control-color" type="color" id="background-color{{ fieldpostfix }}" name="background_color{{ fieldpostfix }}" value="{{ month.background_color }}">
        </div>
        <div class="mb-3">
          <input class="form-control form-control-color" type="color" id="background-color-b{{ fieldpostfix }}" name="background_color_b{{ fieldpostfix }}" value="{{ month.background_color_b }}">
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-check-label" for="center-month{{ fieldpostfix }}">Montatsname zentriert</label>
    <div class="col-sm-10">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="center-month{{ fieldpostfix }}" name="center_month{{ fieldpostfix }}" value="1"{% if month.month_align == 'C' %} checked{% endif %}>
      </div>
    </div>
  </div>

  <h5 class="mb-3">Optionen für die Liste der Tage</h5>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-check-label" for="table-border{{ fieldpostfix }}">Rahmen um Tage</label>
    <div class="col-sm-10">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="table-border{{ fieldpostfix }}" name="table_border{{ fieldpostfix }}" value="1"{% if month.table_border %} checked{% endif %}>
      </div>
    </div>
  </div>


  {% if month.supports_fonts %} 
  {% include "creator/options_font.html" with fieldprefix="font_weekday_" fieldpostfix=fieldpostfix font=month.fonts.weekday label="Schrift Wochentage" %}
  {% include "creator/options_font.html" with fieldprefix="font_saturday_" fieldpostfix=fieldpostfix font=month.fonts.saturday label="Schrift Samstage" %}
  {% include "creator/options_font.html" with fieldprefix="font_sunday_" fieldpostfix=fieldpostfix font=month.fonts.sunday label="Schrift Sonntage" %}
  {% include "creator/options_font.html" with fieldprefix="font_event_" fieldpostfix=fieldpostfix font=month.fonts.event label="Schrift Termine" %}
  {% endif %} 

  {% if month.supports_weeks %} 
  <div class="row mb-3">
    <label class="col-sm-2 col-form-check-label" for="show-weeks{{ fieldpostfix }}">Kalenderwoche anzeigen</label>
    <div class="col-sm-10">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="show-weeks{{ fieldpostfix }}" name="show_weeks{{ fieldpostfix }}" value="1"{% if month.show_weeks %} checked{% endif %}>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="table-background-color{{ fieldpostfix }}">Hintergrundfarbe</label>
    <div class="col-sm-10">
      <div class="mb-3">
        <input class="form-control form-control-color" type="color" id="table-background-color{{ fieldpostfix }}" name="table_background_color{{ fieldpostfix }}" value="{{ month.table_background_color }}">
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-check-label" for="table-background-tansparency{{ fieldpostfix }}">Transparenz Hintergrund</label>
    <div class="col-sm-10">
      <input type="range" class="form-range" min="0" max="100" value="{{ month.table_background_opacity }}" id="table-background-opacity{{ fieldpostfix }}" name="table_background_opacity{{ fieldpostfix }}">
    </div>
  </div>

  <h5 class="mb-3">Optionen für das Bild</h5>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-check-label" for="image_border{{ fieldpostfix }}">Rahmen um Bild</label>
    <div class="col-sm-10">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="image_border{{ fieldpostfix }}" name="image_border{{ fieldpostfix }}" value="1"{% if month.image_border %} checked{% endif %}>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="image-border-color{{ fieldpostfix }}">Rahmenfarbe</label>
    <div class="col-sm-10">
      <div class="mb-3">
        <input class="form-control form-control-color" type="color" id="image-border-color{{ fieldpostfix }}" name="image_border_color{{ fieldpostfix }}" value="{{ month.image_border_color }}">
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-check-label" for="image-border-width{{ fieldpostfix }}">Rahmenbreite</label>
    <div class="col-sm-10">
      <input type="range" class="form-range" min="0" max="100" value="{{ month.image_border_width }}" id="image-border-width{{ fieldpostfix }}" name="image_border_width{{ fieldpostfix }}">
    </div>
  </div>
