{% extends "master.html" %}
{% load static %}

{% block title %}
  Neuen Kalender erzeugen
{% endblock %}

{% block content %}
<div class="py-5 text-center">
  <h2>Neuen Kalender erstellen</h2>
  <p class="lead">Hier können Sie die Optionen für den neuen Kalender bestimmen. Im nächsten Schritt wählen Sie dann die Fotos für die jeweiligen Monate aus.</p>
</div>
<form action="month" method="POST">
    {% csrf_token %}
    <input type="hidden" name="format" value="{{ request.GET.format }}" />


    <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Optionen für den Kalender</h4>
    
              <div class="col-12">
                  <label for="startDate" class="form-label">Erster Monat:</label>
                  <input id="startDate" class="form-control" type="date" name="start" value="2023-01-01"/>
                  <span id="startDateSelected"></span>
              </div>
    
              <div class="col-12">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="center-month" name="center_month" value="1">
                    <label class="form-check-label" for="center-month">Montatsname zentriert</label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="table-border" name="table_border" value="1" checked>
                    <label class="form-check-label" for="table-border">Datumstabelle mit Rahmen</label>
                </div>
              </div>

              <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="background-color">Hintergrundfarbe:</label>
                    <input class="form-control form-control-color" type="color" id="background-color" name="background_color" value="#ffffff">
                </div>
              </div>

              <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="ics-url">Ereignisse von Kalender laden:</label>
                    <input class="form-control" type="text" id="ics-url" name="ics_url" placeholder="https://onlinekalender.info/feiertage/deutschland/nordrhein-westfalen.ics">
                </div>
              </div>

              <hr class="my-4">

              <button class="w-100 btn btn-primary btn-lg" type="submit">Weiter zur Fotoauswahl</button>

        </div>
    </div>
</form>
{% endblock %}