<!-- Global Ribbon UI -->
<div class="ribbon-wrapper">
  <div class="container-fluid">
    <div class="ribbon-container" id="globalRibbon">
      <ul class="nav ribbon-tabs" id="ribbonTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="ribbon-image-tab" data-bs-toggle="tab" data-bs-target="#ribbon-image" type="button" role="tab">
            <span class="fa fa-image me-1"></span> Bild
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="ribbon-background-tab" data-bs-toggle="tab" data-bs-target="#ribbon-background" type="button" role="tab">
            <span class="fa fa-palette me-1"></span> Hintergrund
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="ribbon-days-tab" data-bs-toggle="tab" data-bs-target="#ribbon-days" type="button" role="tab">
            <span class="fa fa-calendar-days me-1"></span> Tagesliste
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="ribbon-fonts-tab" data-bs-toggle="tab" data-bs-target="#ribbon-fonts" type="button" role="tab">
            <span class="fa fa-font me-1"></span> Schriften
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="ribbon-events-tab" data-bs-toggle="tab" data-bs-target="#ribbon-events" type="button" role="tab">
            <span class="fa fa-calendar-plus me-1"></span> Termine
          </button>
        </li>
      </ul>
      <div class="tab-content ribbon-content">
        <!-- Image Tab -->
        <div class="tab-pane fade show active" id="ribbon-image" role="tabpanel">
          <div class="ribbon-row">
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <button type="button" class="ribbon-btn ribbon-btn-lg" title="Neues Bild öffnen" onclick="selectImageForCurrentMonth()">
                  <span class="fa fa-folder-open"></span>
                  <span class="ribbon-btn-label">Bild öffnen</span>
                </button>
              </div>
              <span class="ribbon-group-label">Datei</span>
            </div>
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <button type="button" class="ribbon-btn" title="Nach links drehen" onclick="rotateCurrentImage(-90)">
                  <span class="fa fa-rotate-left"></span>
                  <span class="ribbon-btn-label">Links</span>
                </button>
                <button type="button" class="ribbon-btn" title="Nach rechts drehen" onclick="rotateCurrentImage(90)">
                  <span class="fa fa-rotate-right"></span>
                  <span class="ribbon-btn-label">Rechts</span>
                </button>
                <button type="button" class="ribbon-btn" title="Horizontal spiegeln" onclick="flipCurrentImage('horizontal')">
                  <span class="fa fa-arrows-left-right"></span>
                  <span class="ribbon-btn-label">H-Flip</span>
                </button>
                <button type="button" class="ribbon-btn" title="Vertikal spiegeln" onclick="flipCurrentImage('vertical')">
                  <span class="fa fa-arrows-up-down"></span>
                  <span class="ribbon-btn-label">V-Flip</span>
                </button>
              </div>
              <span class="ribbon-group-label">Drehen & Spiegeln</span>
            </div>
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="ribbon-image-border" onchange="updateCurrentMonthField('image_border', this.checked ? '1' : '')">
                  <span class="ribbon-switch-label">Rahmen</span>
                </div>
                <div class="ribbon-control">
                  <span class="ribbon-control-label">Farbe</span>
                  <input class="form-control form-control-color" type="color" id="ribbon-image-border-color" value="#000000" onchange="updateCurrentMonthField('image_border_color', this.value)">
                </div>
                <div class="ribbon-control">
                  <span class="ribbon-control-label">Breite</span>
                  <input type="range" class="form-range ribbon-slider" min="0" max="100" value="3" id="ribbon-image-border-width" onchange="updateCurrentMonthField('image_border_width', this.value)">
                </div>
              </div>
              <span class="ribbon-group-label">Bildrahmen</span>
            </div>
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <button type="button" class="ribbon-btn" title="Vorschau anzeigen" onclick="showPreviewModal()">
                  <span class="fa fa-eye"></span>
                  <span class="ribbon-btn-label">Vorschau</span>
                </button>
                <button type="button" class="ribbon-btn ribbon-btn-lg" title="PDF Kalender erzeugen" onclick="uploadImages()">
                  <span class="fa fa-file-pdf"></span>
                  <span class="ribbon-btn-label">PDF Erzeugen</span>
                </button>
              </div>
              <span class="ribbon-group-label">Ausgabe</span>
            </div>
          </div>
        </div>
        
        <!-- Background Tab -->
        <div class="tab-pane fade" id="ribbon-background" role="tabpanel">
          <div class="ribbon-row">
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-control">
                  <span class="ribbon-control-label">Art</span>
                  <select class="form-select" id="ribbon-background-type" style="width: 150px;" onchange="updateCurrentMonthField('background_type', this.value)">
                    <option value="N">Keine</option>
                    <option value="S">Einfarbig</option>
                    <option value="H">Horizontal</option>
                    <option value="V">Vertikal</option>
                    <option value="D">Diagonal</option>
                    <option value="R">Kreisförmig</option>
                  </select>
                </div>
              </div>
              <span class="ribbon-group-label">Typ</span>
            </div>
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-control">
                  <span class="ribbon-control-label">Farbe 1</span>
                  <input class="form-control form-control-color" type="color" id="ribbon-background-color" value="#ffffff" onchange="updateCurrentMonthField('background_color', this.value)">
                </div>
                <div class="ribbon-control">
                  <span class="ribbon-control-label">Farbe 2</span>
                  <input class="form-control form-control-color" type="color" id="ribbon-background-color-b" value="#aaaaaa" onchange="updateCurrentMonthField('background_color_b', this.value)">
                </div>
              </div>
              <span class="ribbon-group-label">Farben</span>
            </div>
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="ribbon-center-month" onchange="updateCurrentMonthField('center_month', this.checked ? '1' : '')">
                  <span class="ribbon-switch-label">Monat zentriert</span>
                </div>
              </div>
              <span class="ribbon-group-label">Ausrichtung</span>
            </div>
          </div>
        </div>
        
        <!-- Days List Tab -->
        <div class="tab-pane fade" id="ribbon-days" role="tabpanel">
          <div class="ribbon-row">
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="ribbon-table-border" onchange="updateCurrentMonthField('table_border', this.checked ? '1' : '')">
                  <span class="ribbon-switch-label">Rahmen</span>
                </div>
                <div class="ribbon-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="ribbon-show-weeks" onchange="updateCurrentMonthField('show_weeks', this.checked ? '1' : '')">
                  <span class="ribbon-switch-label">KW anzeigen</span>
                </div>
              </div>
              <span class="ribbon-group-label">Optionen</span>
            </div>
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-control">
                  <span class="ribbon-control-label">Hintergrund</span>
                  <input class="form-control form-control-color" type="color" id="ribbon-table-background-color" value="#ffffff" onchange="updateCurrentMonthField('table_background_color', this.value)">
                </div>
                <div class="ribbon-control">
                  <span class="ribbon-control-label">Transparenz</span>
                  <input type="range" class="form-range ribbon-slider" min="0" max="100" value="70" id="ribbon-table-background-opacity" onchange="updateCurrentMonthField('table_background_opacity', this.value)">
                </div>
              </div>
              <span class="ribbon-group-label">Hintergrund</span>
            </div>
          </div>
        </div>
        
        <!-- Fonts Tab -->
        <div class="tab-pane fade" id="ribbon-fonts" role="tabpanel">
          <div class="ribbon-row">
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-inline">
                  <div class="ribbon-font-buttons btn-group" role="group">
                    <input type="checkbox" class="btn-check" id="ribbon-font-weekday-bold" onchange="updateCurrentMonthField('font_weekday_bold', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-weekday-bold"><span class="fa fa-bold"></span></label>
                    <input type="checkbox" class="btn-check" id="ribbon-font-weekday-italic" onchange="updateCurrentMonthField('font_weekday_italic', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-weekday-italic"><span class="fa fa-italic"></span></label>
                    <input type="checkbox" class="btn-check" id="ribbon-font-weekday-underline" onchange="updateCurrentMonthField('font_weekday_underline', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-weekday-underline"><span class="fa fa-underline"></span></label>
                  </div>
                  <input class="form-control form-control-color" type="color" id="ribbon-font-weekday-color" value="#000000" style="width:28px;height:28px;" onchange="updateCurrentMonthField('font_weekday_color', this.value)">
                </div>
              </div>
              <span class="ribbon-group-label">Wochentage</span>
            </div>
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-inline">
                  <div class="ribbon-font-buttons btn-group" role="group">
                    <input type="checkbox" class="btn-check" id="ribbon-font-saturday-bold" onchange="updateCurrentMonthField('font_saturday_bold', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-saturday-bold"><span class="fa fa-bold"></span></label>
                    <input type="checkbox" class="btn-check" id="ribbon-font-saturday-italic" onchange="updateCurrentMonthField('font_saturday_italic', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-saturday-italic"><span class="fa fa-italic"></span></label>
                    <input type="checkbox" class="btn-check" id="ribbon-font-saturday-underline" onchange="updateCurrentMonthField('font_saturday_underline', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-saturday-underline"><span class="fa fa-underline"></span></label>
                  </div>
                  <input class="form-control form-control-color" type="color" id="ribbon-font-saturday-color" value="#000000" style="width:28px;height:28px;" onchange="updateCurrentMonthField('font_saturday_color', this.value)">
                </div>
              </div>
              <span class="ribbon-group-label">Samstage</span>
            </div>
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-inline">
                  <div class="ribbon-font-buttons btn-group" role="group">
                    <input type="checkbox" class="btn-check" id="ribbon-font-sunday-bold" onchange="updateCurrentMonthField('font_sunday_bold', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-sunday-bold"><span class="fa fa-bold"></span></label>
                    <input type="checkbox" class="btn-check" id="ribbon-font-sunday-italic" onchange="updateCurrentMonthField('font_sunday_italic', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-sunday-italic"><span class="fa fa-italic"></span></label>
                    <input type="checkbox" class="btn-check" id="ribbon-font-sunday-underline" onchange="updateCurrentMonthField('font_sunday_underline', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-sunday-underline"><span class="fa fa-underline"></span></label>
                  </div>
                  <input class="form-control form-control-color" type="color" id="ribbon-font-sunday-color" value="#000000" style="width:28px;height:28px;" onchange="updateCurrentMonthField('font_sunday_color', this.value)">
                </div>
              </div>
              <span class="ribbon-group-label">Sonntage</span>
            </div>
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <div class="ribbon-inline">
                  <div class="ribbon-font-buttons btn-group" role="group">
                    <input type="checkbox" class="btn-check" id="ribbon-font-event-bold" onchange="updateCurrentMonthField('font_event_bold', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-event-bold"><span class="fa fa-bold"></span></label>
                    <input type="checkbox" class="btn-check" id="ribbon-font-event-italic" onchange="updateCurrentMonthField('font_event_italic', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-event-italic"><span class="fa fa-italic"></span></label>
                    <input type="checkbox" class="btn-check" id="ribbon-font-event-underline" onchange="updateCurrentMonthField('font_event_underline', this.checked ? '1' : '')">
                    <label class="btn btn-outline-primary btn-sm" for="ribbon-font-event-underline"><span class="fa fa-underline"></span></label>
                  </div>
                  <input class="form-control form-control-color" type="color" id="ribbon-font-event-color" value="#000000" style="width:28px;height:28px;" onchange="updateCurrentMonthField('font_event_color', this.value)">
                </div>
              </div>
              <span class="ribbon-group-label">Termine</span>
            </div>
          </div>
        </div>
        
        <!-- Events Tab -->
        <div class="tab-pane fade" id="ribbon-events" role="tabpanel">
          <div class="ribbon-row">
            <div class="ribbon-group">
              <div class="ribbon-group-content">
                <button type="button" class="ribbon-btn ribbon-btn-lg" onclick="addEventForCurrentMonth()">
                  <span class="fa fa-calendar-plus"></span>
                  <span class="ribbon-btn-label">Hinzufügen</span>
                </button>
              </div>
              <span class="ribbon-group-label">Neuer Termin</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Month Selector Bar - Directly under ribbon content -->
  <div class="month-selector-bar-wrapper">
    <div class="container-fluid">
      <div class="month-selector-integrated">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center gap-2">
            <span class="fa fa-image text-success me-1"></span>
            <span class="month-title" id="currentMonthTitle">Foto für {{ months.0.name }} {{ months.0.date|date:"Y" }}</span>
          </div>
          <div class="d-flex align-items-center gap-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" id="prevMonthBtn" onclick="navigateMonth(-1)" title="Vorheriger Monat">
              <span class="fa fa-chevron-left"></span>
            </button>
            <select class="form-select form-select-sm month-dropdown-compact" id="monthSelector" onchange="selectMonth(this.value)">
              {% for month in months %}
                <option value="{{ month.id }}"{% if forloop.first %} selected{% endif %}>{{ month.name }} {{ month.date|date:"Y" }}</option>
              {% endfor %}
            </select>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="nextMonthBtn" onclick="navigateMonth(1)" title="Nächster Monat">
              <span class="fa fa-chevron-right"></span>
            </button>
            <span class="badge bg-success" id="monthCounter">1 / {{ months|length }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>