{% extends "master.html" %}
{% load static %}
{% load i18n %} 

{% block title %}
  Neuen Kalender erzeugen
{% endblock %}

{% block content %}
<div class="container text-center">

    <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Fotokalender PDF Generator</h1>
        <p class="fs-5 text-body-secondary">{% translate "Einfaches Erzeugen von tollen Fotokalendern zum selbstausdrucken " %}</p>
      </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">
                <div class="card-header">Hochkant</div>
                <img src="{% static 'images/preview-P.png' %}" class="p-3" alt="Hochkant">
                <div class="card-body">
                    <p class="card-text"></p>
                      <a class="btn btn-primary" href="options?format=P" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
                      <a class="btn btn-outline-secondary" href="preview?format=P" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Hochkant (volle Breite)</div>
                <img src="{% static 'images/preview-PW.png' %}" class="p-3" alt="Hochkant (volle Breite)">
                <div class="card-body">
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="options?format=PW" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
                    <a class="btn btn-outline-secondary" href="preview?format=PW" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Hochkant (vollbild)</div>
                <img src="{% static 'images/preview-PF.png' %}" class="p-3" alt="Hochkant (vollbild)">
                <div class="card-body">
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="options?format=PF" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
                    <a class="btn btn-outline-secondary" href="preview?format=PF" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Querformat</div>
                <img src="{% static 'images/preview-L.png' %}" class="p-3" alt="Querformat">
                <div class="card-body">
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="options?format=L" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
                    <a class="btn btn-outline-secondary" href="preview?format=L" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Querformat (vollbild)</div>
                <img src="{% static 'images/preview-LF.png' %}" class="p-3" alt="Querformat (vollbild)">
                <div class="card-body">
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="options?format=LF" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
                    <a class="btn btn-outline-secondary" href="preview?format=LF" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Querformat (Modern)</div>
                <img src="{% static 'images/preview-LM.png' %}" class="p-3" alt="Querformat (Modern)">
                <div class="card-body">
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="options?format=LM" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
                    <a class="btn btn-outline-secondary" href="preview?format=LM" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Design 1</div>
                <img src="{% static 'images/preview-1.png' %}" class="p-3" alt="Design 1">
                <div class="card-body">
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="options?format=1" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
                    <a class="btn btn-outline-secondary" href="preview?format=1" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Vintage</div>
                <img src="{% static 'images/preview-V.png' %}" class="p-3" alt="Vintage">
                <div class="card-body">
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="options?format=V" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
                    <a class="btn btn-outline-secondary" href="preview?format=V" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Design 2026</div>
                <img src="{% static 'images/preview-26.png' %}" class="p-3" alt="Design 2026">
                <div class="card-body">
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="options?format=26" role="button"><span class="fa fa-arrow-circle-right"></span> Erstellen</a>
                    <a class="btn btn-outline-secondary" href="preview?format=26" role="button" target="preview"><span class="fa fa-eye"></span> Vorschau</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Datei laden</div>
                <div class="card-body">
                   <form enctype="multipart/form-data" method="POST" action="load">
                   {% csrf_token %} 
                    <p class="card-text">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Kalender aus folgender Datei laden</label>
                            <input class="form-control" type="file" id="file" name="file">
                        </div>
                    </p>
                    <button type="submit" class="btn btn-primary">Submit</button> 
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}